* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
  color: white;
  width: 100vw;
  height: 100vh;
}
header {
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
  height: 40%;
}
.firstControl {
  display: flex;
  justify-content: space-between;
  padding: 6px;
}
header > h1 {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.number {
  height: 50px;
  width: 150px;
  justify-self: center;
  align-self: center;
  text-align: center;
  font-size: 35px;
}
.empty {
  height: 4%;
  background-color: aqua;
}
main {
  display: flex;
  height: 60%;
  /* width: 100%; */
  /* border: 2px solid yellow; */
  justify-content: space-evenly;
  align-items: center;
}
.left {
  display: flex;
  flex-direction: column;

  /* width: 50%; */
  /* height: 100%; */
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-left: 2px solid grey;
  height: 60%;
}
.guess {
  /* border: 2px solid green; */
  height: 3rem;
  width: 15rem;
  margin: 2rem;
  border-radius: 0.5rem;
}
.btn-check {
  height: 3rem;
  width: auto;
  font-size: 25px;
  color: rgb(17, 66, 10);
  border-radius: 1rem;
}
.message {
  color: red;
  font-size: 25px;
  padding-left: 40px;
}
.label-score {
  color: yellow;
  font-size: 25px;
  padding-left: 40px;
}
.label-highscore {
  color: goldenrod;
  font-size: 25px;
  padding-left: 40px;
}
.btn-again {
  padding: 4px;
  color: orange;
  height: 2.5rem;
  width: 8rem;
  background-color: white;
}
.between {
  padding: 4px;
  color: orange;
  height: 1.8rem;
  width: 8rem;
  background-color: white;
  text-align: center;
}
